{% if product.metafields.custom._measuretext.value != blank and product.metafields.pico.measures == blank %}
<div>
サイズ<br>
{{ product.metafields.custom._measuretext.value | newline_to_br}}
</div>
{% endif %}