.promobox,body{font-style:normal;}p{font-style:var(--base-style);}
.promobox,

/* ブログ記事の見出しと本文にデフォルトで当たっているイタリックを削除 */

.article .font-italic,
.post .font-italic,
blockquote {
  font-style: var(--heading-style) !important;
}

/* 問い合わせ確認のポップアップの背景カラーを変更 */
:root {
  --theme2: #ffffff; /* 白に変更 */
  --popup-subscription-confirmation-bg: var(--theme2); /* --theme2 を参照 */
}

  .popup-subscription-confirmation,
  .popup-contact-confirmation {
    background-color: var(--popup-subscription-confirmation-bg);
  }

